<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemas.tomapedidos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntemedioDetalleProductoActivity"></activity>
        <activity android:name=".DetalleProductoPrecioActivity" />
        <activity android:name=".BuscarProductoPrecioActivity" />
        <activity android:name=".ConsultaPrecioActivity" />
        <activity android:name=".MostrarConsultaActivity" />
        <activity android:name=".BuscarProductoStockActivity" />
        <activity android:name=".PrecioActivity" />
        <activity android:name=".ConsultarPromocionesActivity" />
        <activity android:name=".EventoActivity" />
        <activity android:name=".ConsultaStockActivity" />
        <activity android:name=".ProveedorActivity" />
        <activity
            android:name=".DetalleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsutlasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultasListadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetallePedidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FechaPactadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntermediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromocionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BusquedaClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MostrarClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListadoAlmacenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListadoFormaPagoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuscarProductoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetalleProductoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bandejaProductosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActualizarRegistroPedidosActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>